.app-container{
  display: flex;
  height: 700px;
}
.content{
  width: 86%;
}
.sidebar{
  
  min-height: 100%;
}
.sidebars{
  position: sticky;
  left: 0px;
  top: 0px;
  
}
.Header{
  position: sticky;
  top: 0px;
  z-index: 1;
}
.Footer{
  position: sticky;
 bottom: 0px;
  width:100%;
  
  background-color: rgb(215, 211, 211);
}
.post-card{
  margin: 20px 10px;
  
}
.tags{
  margin: 0px 5px;
}
.reaction{
  margin: 10px 0px;
}
.createpost{
  width: 80%;
  margin: 50px;
}
.innercontent{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}